*{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
body {
    overflow: hidden;
    background-color: #ededed;
}
.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}
 
.form {
    grid-column: 7;
    grid-row: 1;
    height: 500;
    width: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
}
h3 {
    text-align: center;
    border-radius: 15px;
    width: 400px;
    height: 30px;
    padding: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    background: #D9291D;
}
 
label {
    margin-left: -130px;
    display: block;
    font-weight: bold;
}
input{
    display: block;
    border-bottom: 2px solid #D9291D;
    margin-left: -130px;
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type="text"] {
    padding: 5px;
    width: auto;
}
select{
    margin-left: -130px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid  #D9291D;
}

.button{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.SAVE{
    margin-left: 10px;
    color: white;
}

.CANCEL{
    color: white;
}

input[type="submit"] {
    padding: 5px;
    width: 70px;
    border-radius: 15px;
    cursor: pointer;
    background: #D9291D;
}